.formbackground {
  background-color: #f6f6f6;
  padding: 10px;
  border-radius: 10px;
  opacity: 0.9;
}

.buttonposition {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
